@font-face {
	font-family: 'luckiest_guyregular';
	src: url('./webfontkit-20210203-100954/');
	src: url('./webfontkit-20210203-100954/?#iefix') format('embedded-opentype'),
		url('./webfontkit-20210203-100954/luckiestguy-webfont.woff2')
			format('woff2'),
		url('./webfontkit-20210203-100954/luckiestguy-webfont.woff') format('woff'),
		url('./webfontkit-20210203-100954/luckiestguy-webfont.ttf')
			format('truetype'),
		url('./webfontkit-20210203-100954/luckiestguy-webfont.svg#luckiest_guyregular')
			format('svg');
	font-weight: normal;
	font-style: normal;
}
/* reprenez ici votre feuille de style de l'exercie n2-03-logo, nous allons la compéter */
/*
Stylez les petits triangles :
- ils doivent tous avoir un contour de 1px d'épaisseur et un remplissage de couleur #59BFC6
*/
:root {
	--light-color: #008b6f;
	--dark-color: #00392d;
}
svg {
	width: 50%;
	height: auto;
}
circle {
	fill: transparent;
	stroke: var(--light-color);
	stroke-width: 7px;
}
line {
	stroke: var(--dark-color);
	stroke-width: 5px;
	stroke-linecap: round;
}
text {
	font-family: 'luckiest_guyregular', cursive;
	fill: #f6f7f3;
	stroke: var(--dark-color);
	stroke-width: 3px;
	font-size: 3.75em;
	text-anchor: middle;
}
polygon {
	fill: var(--light-color);
	stroke: var(--dark-color);
	stroke-width: 2px;
	stroke-linejoin: round;
}
.triangle-group:first-of-type {
	transform: translate(45px, 67px) rotate(10deg);
	transform-origin: 12.5px 12.5px;
}
